.error{

}
.navbar {
    color: white;
    background-color: lightslategray;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar > a{

}
div.navbar > a:hover {

}
.navbar:hover > a{

}
a { text-decoration: none; color: inherit; }
.desktop-yes {

}
.desktop-no {

}
.box-shadow-menu {

}
.box-shadow-menu:before {

}
@media only screen and (min-width: 480px) {

}