#content{
    clear: both;
    margin: 5px;
    font-size: 20px;
}
label, input{
    width: 100%;
}
.player{
    background-color: lightgray;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}
.player > *{
    padding: 2px 0;
}
.player > button{
    padding: 5px 10px;
}
#glPlayerInfo{
    width: 100%;
}
@media only screen and (min-width: 640px) and (-webkit-max-device-pixel-ratio: 1.5) {
    #content{
        font-size: initial;
        margin: 0px 100px;
    }
    label, input{
        width: auto;
    }
    #glPlayerInfo{
        width: 300px;
    }
    #stats{
        width: 600px;
    }
    .gridContainer{
        display: grid;  /*JS will set this to grid*/
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gridContainer > label{
        text-align: right;
        grid-column: 1;
    }
    .gridContainer > input{
        text-align: left;
        grid-column: 2;
    }
    .gridSpan{
        text-align: center;
        grid-column: 1/-1;
    }
    .serverInfo{
        display: grid;
        width: 600px;
        background-color: lightgray;
        border-radius: 5px;
        border: 2px solid black; 
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cont{
        display: grid;

    }
}
@media only screen and (min-width: 1000px){
    #content{
        margin: 0px 200px;
    }
}
