#content{
    clear: both;
    margin: 5px;
    font-size: 20px;
}
label, input{
    width: 100%;
}
.player{
    background-color: lightgray;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}
.player > *{
    padding: 2px 0;
}
.player > button{
    padding: 5px 10px;
    color: white;
}
#glPlayerInfo{
    width: 100%;
}
@media only screen and (min-width: 640px) and (-webkit-max-device-pixel-ratio: 1.5) {
    label, input{
        width: auto;
    }
    #glPlayerInfo{
        width: auto;
        order: 4;
    }
    #glReady{
        min-width: 100px;
        width: 50%;
    }
    #stats{
        min-width: 300px;
        height: 200px;
    }
    .gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
    }
    .gridContainer > label{
        text-align: right;
        grid-column: 1;
    }
    .gridContainer > input{
        grid-column: 2;
    }
    .gridSpan{
        text-align: center;
        grid-column: 1/-1;
    }
    .serverInfo{
        display: grid;
        width: 80%;
        background-color: lightgray;
        border-radius: 5px;
        border: 2px solid black; 
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contGrid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contGrid > div{
        margin: 5px 5px;
    }
}
@media only screen and (min-width: 1000px){
    #content{
        margin: 0px 100px;
    }
    .contGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #priDiv { order: 2; }
    #secDiv { order: 3; }
    #stats { order: 1; }
}
@media only screen and (min-width: 1400px){
    #content{
        margin: 0px 200px;
    }
    .contGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #priDiv { order: 1; }
    #secDiv { order: 2; }
    #stats { order: 3; }
}
