#content{
    clear: both;
    margin: 5px;
    font-size: 20px;
}
.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label, input{
    width: 100%;
}
.player{
    background-color: lightgray;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}
.player > *{
    padding: 2px 0;
}
.player > button{
    padding: 5px 10px;
    color: white;
}
#glPlayerInfo{
    width: 100%;
}
#gameCanvas{
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: -1;
}

#gameUi > *{
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    color: white;
    font-size: 18px;
}
#uiEnemies{
    top: 0px;
    right: 0px;
    border-radius: 0 0 0 15px;
    padding-right: 20px;
}
#uiEnemies > *{
    width: 100%; 
    text-align: right;
    padding: 2px 5px;
}
#uiStatus{
    bottom: 0px;
    left: 0px;
    border-radius: 0 15px 0 0;
}
#uiEsc{
    left: 40%;
    top: 40%;
}
#uiTeam{
    padding-right: 20px;
    top: 0px;
    left: 0px;
    border-radius: 0 0 15px 0;
}
#uiTeam > *{
    width: 100%; 
    text-align: right;
    padding: 2px 5px;
}
#uiChat{
    background-color: #0000;
    bottom: 120px;
    left: 0px;
    border-radius: 0 15px 0 0;
    width: 20%;
    max-width: 500px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: auto;
}
#uiChatInput{
    bottom: 100px;
    left: 0px;
    width: 20%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 15px 0;
    border: none;
    font-size: 15px;
}
#uiChat::-webkit-scrollbar{
    display: none;
}
#uiChat::-webkit-scrollbar-button{
    display: none;
}
#uiChat::-webkit-scrollbar-thumb{
    display: none;
}
#uiChat::-webkit-scrollbar-track{
    display: none;
}
#uiChat::-webkit-scrollbar-track-piece{
    display: none;
}
#uiChat > *{
    font-size: 15px;
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.1);
}
.redTeam {
    color: red;
    font-family: 'Arial';
    font-size: 18px;
}
.blueTeam {
    color: #0000dd;
    font-family: 'times New Roman';
}
.greenTeam {
    color: green;
}
.yellowTeam {
    color: yellow;
}
@media only screen and (min-width: 640px) and (-webkit-max-device-pixel-ratio: 1.5) {
    label, input{
        width: auto;
    }
    #glPlayerInfo{
        width: auto;
        order: 4;
    }
    #glReady{
        min-width: 100px;
        width: 50%;
    }
    #stats{
        min-width: 300px;
        height: 200px;
    }
    .gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
    }
    .gridContainer > label{
        text-align: right;
        grid-column: 1;
    }
    .gridContainer > input{
        grid-column: 2;
    }
    .gridSpan{
        text-align: center;
        grid-column: 1/-1;
    }
    .serverInfo{
        display: grid;
        width: 80%;
        background-color: lightgray;
        border-radius: 5px;
        border: 2px solid black; 
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contGrid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contGrid > div{
        margin: 5px 5px;
    }
}
@media only screen and (min-width: 1000px){
    #content{
        margin: 0px 100px;
    }
    .contGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #priDiv { order: 2; }
    #secDiv { order: 3; }
    #stats { order: 1; }
}
@media only screen and (min-width: 1400px){
    #content{
        margin: 0px 200px;
    }
    .contGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #priDiv { order: 1; }
    #secDiv { order: 2; }
    #stats { order: 3; }
}
